# @package _global_

defaults:
  - /habitat: habitat_config_base
  - /habitat/task: objectnav 
  - /habitat/task/measurements:
    - collisions
    - topdown_map_obj
  - /habitat/simulator/sim_sensors@habitat.simulator.agents.main_agent.sim_sensors.front: third_rgb_sensor
  - /habitat/simulator/sim_sensors@habitat.simulator.agents.main_agent.sim_sensors.left: third_rgb_sensor
  - /habitat/simulator/sim_sensors@habitat.simulator.agents.main_agent.sim_sensors.right: third_rgb_sensor
  - /habitat/simulator/sim_sensors@habitat.simulator.agents.main_agent.sim_sensors.back: third_rgb_sensor

  - override /habitat/task/lab_sensors: 
    - compass_sensor
    - gps_sensor
  - _self_

habitat:
  EVAL:
    IDENTIFICATION: ovon
    EARLY_STOP_ROTATION: 25
    EARLY_STOP_STEPS: 400

  environment:
    max_episode_steps: 500

  task:
    measurements:
      topdown_map_obj:
        draw_goal_aabbs: False
      success:
        success_distance: 1
    actions:
      stop:
        type: "StopAction"
      move_forward:
        type: "MoveForwardAction"
      turn_left:
        type: "TurnLeftAction"
      turn_right:
        type: "TurnRightAction"


  simulator:
    turn_angle: 30
    forward_step_size: 0.25
    agents:
      main_agent:
        sim_sensors:
          front:
            type: HabitatSimRGBSensor
            width: 720
            height: 640
            hfov: 110
            position: [0, 0.88, 0]
            uuid: front

          left:
            width: 720
            height: 640
            hfov: 110
            position: [0, 0.88, 0]
            orientation: [0, 1.5707963, 0]
            uuid: left

          right:
            width: 720
            height: 640
            hfov: 110
            position: [0, 0.88, 0]
            orientation: [0, -1.5707963, 0]
            uuid: right

          back:
            width: 720
            height: 640
            hfov: 110
            position: [0, 0.88, 0]
            orientation: [0, 3.1415926, 0]
            uuid: back
        
        height: 1.41
        radius: 0.05
    habitat_sim_v0:
      gpu_device_id: 0
      allow_sliding: True

  ######################## 完整的ovon-val-unseen的轨迹 
  dataset:
    type: "OVON-v1"
    split: "val_unseen"
    scenes_dir: "/path-scenes_dir/hm3d-scenes_dir"

    content_scenes: ["*"]
    data_path: "/path-to-hm3d_ovon/hm3d/hm3d/val_unseen/val_unseen_hard.json.gz"
  ######################## 完整的ovon-val-unseen的轨迹

  # ####################### ovon-val-seen-synonyms的轨迹 
  # # 配置信息会在environment-modules-customed/habitat-related/ovon/habitat-lab/habitat/datasets/registration.py文件中被用到
  # dataset:
  #   type: "OVON-v1"             # 在VLN-CE/run_qwen_ovon.py文件的habitat.make_dataset(config.dataset.type, config=config.dataset)位置会被用到
  #   # type的命名会对应到VLN-CE/ovon/dataset/ovon_dataset.py文件中的@registry.register_dataset(name="OVON-v1")的name参数
  #   split: "val_seen_synonyms"  # 
    # scenes_dir: "/path-scenes_dir/hm3d-scenes_dir"

  #   content_scenes: ["*"]
    # data_path: "/path-to-hm3d_ovon/hm3d/hm3d/val_seen_synonyms/val_unseen_easy.json.gz"
  # ####################### ovon-val-seen-synonyms的轨迹 

  # ####################### ovon-val-seen的轨迹 
  # # 配置信息会在environment-modules-customed/habitat-related/ovon/habitat-lab/habitat/datasets/registration.py文件中被用到
  # dataset:
  #   type: "OVON-v1"             # 在VLN-CE/run_qwen_ovon.py文件的habitat.make_dataset(config.dataset.type, config=config.dataset)位置会被用到
  #   # type的命名会对应到VLN-CE/ovon/dataset/ovon_dataset.py文件中的@registry.register_dataset(name="OVON-v1")的name参数
  #   split: "NOT-USED-BY_CODE"
    # scenes_dir: "/path-scenes_dir/hm3d-scenes_dir"
  #   content_scenes: ["*"]
    # data_path: "/path-to-hm3d_ovon/hm3d/hm3d/val_seen/val_seen.json.gz"
  # ####################### ovon-val-seen的轨迹 


